
@model MVC.Areas.Database.Views.DbManage.DeleteDbModel
@{
    ViewData["Title"] = "Xoa DB";
}

<h1>@ViewData["Title"]</h1>
<p class="alert alert-danger">
    Co chac chan xoa?
</p>

<form method="post">
    <button type="submit" class="alert alert-danger"> 
        Xoa DB
    </button>
    <hr />
    <a asp-action="Index">Quan Ly DB</a>
</form>
