@page "/aboutrazor.html"
@model MVC.Pages.RazorModel
@{
    Layout = "_Layout";
}

<h1>Gioi thieu Razor</h1>

<p>
    Rzor la 1 template engine trong .NET, no la 1 TEMPLATE ENGINE mac dich cua ASP.NET MVC, co chuc nang render
    HTML tu cac view cho phep viet HTML va nhung code C# 
</p>
